In [11]:
# =========================================================
# QUESTION 1: Use yfinance to Extract Tesla Stock Data
# =========================================================

# Create a Ticker object for Tesla
tesla = yf.Ticker("TSLA")

# Use the history() method to extract all available stock data
tesla_data = tesla.history(period="max")

# Reset the index and display the first five rows
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

In [12]:
# =========================================================
# QUESTION 2: Extract Tesla Revenue Data
# =========================================================

# Create a Ticker object for Tesla
tesla = yf.Ticker("TSLA")

# Access the income statement (more accurate than .financials)
income_stmt = tesla.income_stmt

# Find the row name that contains 'Total Revenue'
row_name = None
for name in income_stmt.index:
    if "Revenue" in name and "Total" in name:
        row_name = name
        break

if row_name is None:
    raise Exception("No 'Total Revenue' found in Tesla's income statement.")

# Extract the revenue data and clean it
tesla_revenue = income_stmt.loc[row_name].reset_index()
tesla_revenue.columns = ["Date", "Revenue"]

# Convert date to string and revenue to billions
tesla_revenue["Date"] = tesla_revenue["Date"].astype(str)
tesla_revenue["Revenue"] = tesla_revenue["Revenue"].astype(float) / 1e9

# Display the last five rows of the dataframe
tesla_revenue.tail()

         Date  Revenue
0  2024-12-31   97.690
1  2023-12-31   96.773
2  2022-12-31   81.462
3  2021-12-31   53.823
4  2020-12-31      NaN